.comment{
    width: 70%;
    margin: 0px 0px 5px 3% ;
    box-sizing: border-box;
    clear: both;
}

.comment .mancomment{
    width: 30%;
    float: left;
    margin: 5px 5px 0px 0px;
}
.box_comment{
    width: 20%;
    float: left;
    padding: 1% 0 0 1%;
    border-right: solid 1px;
}

.comment .content_comment{
    width: 74%;
    margin: 1% 0 2% 0%;
    padding-left: 4%;
    float: left;
    border-top: solid 1px;
}
.edit{
    width:8%;
    height: 30px;
    }
.action{
    margin: 15px 0 0 0;
    height: 20px;
    float:right;
}
.icon-delete{
    width: 10px;
    height: 25px;
}
.icon-delete:hover{
    background: red;
}
