.login_page{
    width: 400px ;
    margin: 5% 0 5% 30%;
    background-color: white;
    height: auto;
    padding-top: 25px;
    border-radius: 7px;
    box-shadow: 0 2px 3px 0px rgb(68, 68, 68);
    float: left;
}

.login_form{
    width: 300px;
    margin: 0px 0 0 10%;
}
.inputlogin{
    margin-bottom: 20px;
    height: 50px;
    font-size: 18px;
}
.actionlogin{
    width: 300px;
    font-size: 22px;
    margin-bottom: 30px;
}
.faillogin{
    color: red;
}