
  .signup .register{float: right;
    margin-right:10px;
  }
  .signup .login{float: right;
  margin-right: 10px;
  }
  .signup li{
    list-style: none;
    float: left;
    }
  .signup .btn-danger{font-size: 12px;
  font-weight: bold;}