.postnews{
    border: burlywood solid 1px;
    width: 100%;
    height: auto;
    float: left;
    margin: 1% 0 1% 2%;;
    padding: 3px;
}
.postnews .img_news{
    height: auto;
    width: 30%;
    float: left;
    margin-right: 2%;
}
.postnews_content{
    width: 67%;
    float:left;
}
.postnews .title{
    text-decoration: none;
    color: peru;
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
    font-size: 20px;
    
}
.postnews .title:hover{
    color: crimson;;}
.postnews p{
    text-align: justify;
}
